.calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    font-family: 'Courier New', Courier, monospace;
}

.window {
    display: flex;
    border-radius: 8px;
    border: 3px solid grey;
    min-height: 80px;
    font-size: 50px;
    background-color: aliceblue;
}

#context {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    padding: 8px 8px;
    font-size: 30px;
}

#output {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    padding: 15px 15px;
    font-size: 50px;
}

.row {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    height: 100px;
}

.row > button {
    flex: 1 1 0;
    aspect-ratio: 1.5 / 1;
    font-size: 30px;
    border-radius: 8px;
    border: 2px solid black;
    font-family:'Courier New', Courier, monospace;
}

#CE {
    display: block;
    width: 100%;
    aspect-ratio: 1.2 / 1;
    font-size: 30px;
    border-radius: 8px;
    height: 50px;
    border: 2px solid black;
    font-family:'Courier New', Courier, monospace;
}

button:hover {
    background-color:aliceblue;
    border-color: red;
}

#equals {
    background-color:azure;
}