.calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    font-family: 'Courier New', Courier, monospace;
}

#output {
    border-radius: 8px;
    border: 5px solid black;
    font-size: 20px;
    min-height: 80px;
    font-size: 50px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10px;
    
}

.row {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    height: 100px;
}

.row > button {
    flex: 1 1 0;
    aspect-ratio: 1.5 / 1;
    font-size: 30px;
    border-radius: 8px;
    border: 2px solid black;
    font-family:'Courier New', Courier, monospace;
}

#CE {
    display: block;
    width: 100%;
    aspect-ratio: 1.2 / 1;
    font-size: 30px;
    border-radius: 8px;
    height: 50px;
    border: 2px solid black;
    font-family:'Courier New', Courier, monospace;
}

button:hover {
    background-color:aliceblue;
}

#equals {
    background-color:azure;
}